*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: #0A1D3C;
    --ligth-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #F9E3BC;
    --dark-gary: #3e3f43;
    --light-black: #1d1d1d;

}

.section{
    min-height: 100vh;
    width: 100%;
    /* background-color: burlywood; */
}
nav{
    width: 80%;
    height: 13vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header{
    width: 100%;
    height: calc(100vh - 13vh);
    background-color: #3e3f43;
}