
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
:root{
    --dark-blue: #0A1D3C;
    --ligth-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #F9E3BC;
    --dark-gary: #3e3f43;
    --light-black: #1d1d1d;

}

/* Hero Section */
/* Section one */

.section{
    min-height: 100vh;
    width: 100%;
    /* background-color: burlywood; */
}
nav{
    width: 80%;
    height: 13vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
.navlinks{
    list-style: none;
    display: flex;
   
    
    

    
}
.navlinks li a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: #1d1d1d;
    font-size: 1rem;
    position: relative;
}
.navlinks li a::after, .navlinks li .active::after{
    content: "";
   background: var(--dark-gary);
   position: absolute;
   height: .15rem;
   width: 100%;
   left: 0;
   bottom: -5px;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
   transform-origin: left;
}
.navlinks li a:hover::after, .navlinks li .active::after{
    transform: scaleX(1);
    transform-origin: right;
}
header{
    width: 80%;
    height: calc(100vh - 13vh);
    /* background-color: #3e3f43; */
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}
.img1{
    width: 30rem;
}
.logo{
    font-size: 3rem;
    color: var(--dark-blue);
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
        
      
      

      
}
.content h1{
    font-size: 5rem;
    position: relative;
}
.content h1::before{
    content: "New";
    position: absolute;
    top: -60px;
    color: var(--dark-blue);
    font-family: "Allison", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content h2{
    font-size: 1.3rem;
}
.content p{
    font-size: 1.3rem;
    margin: 1rem 0;
}
/* Button portion in header */
.btn{
    display: flex;
}
.btn1, .btn2{
    font-size: 1rem;
    border: none;
    padding: 1rem 1.7rem;
    transition:transform 0.5s ease-in-out;
}
.btn1{
    background-color: var(--light-peach);
}
.btn2{
    background-color: var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
}
.btn1:hover,.section-two-btn:hover,.four-btn:hover{
    transform: scale(1.1);
}
.btn2:hover{
    transform: scale(1);
}
/* Hamburger */
.line{
background-color: var(--dark-blue);
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.38rem;
}
.hamburger{
    cursor: pointer;
    display: none;
}


/* Section two */
.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two-container{
    background-color: var(--light-peach);
    width: 100%;
    height: 55vh;
    transform: skewY(6deg);
}
.container-section-two img{
 width: 28rem;
}
.content-con{
    transform: skewY(-6deg);
}
.section-two-container, .inner-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-section{
    /* background-color: red; */
    width: 80%;
}
.section-two-heading{
    color: var(--dark-gary);
    font-size: 4rem;
}
.section-two-para{
    color: var(--dark-gary);
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 70%;
}
.section-two-pricing{
    font-size: 1.8rem;
    color: var(--dark-gary);
    margin: 2px 0;
   
}
.section-two-btn{
    padding: .7rem 1.5rem;
    border: 0.1rem solid var(--dark-gary);
    font-size: 1rem;
    transition: transform 0.5s ease-in-out;
}

/* Section Three */
.section-heading{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.card-container{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:4rem;
}
.card img{
    width: 20rem;
}
.card{
    background-color: var(--ligth-gray);
    /* margin: 0 2px; */
    padding: 2rem;
    
}
.card p{
    margin:0.9rem 0;
}

/* Section Four */

.section-four{
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.section-four-container{
    background-color: green;
    background-image: url("images/watch.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   z-index: 5;
}

.section-four-container::before{
    content: "";
    background: rgb(0, 0, 0, 0.54);
    position: absolute;
    inset: 0;
}
.section-four-container .content1{
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer{
    font-size: 5rem;
    color: var(--light-peach);
    font-family: "Allison", cursive;
}
.four-heading{
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 1rem;
    font-weight: bold;
}
.four-btn{
   font-size: 1.2rem;
   padding: 5px 6px;
   background-color: var(--light-peach);
   border: none;
   transition:transform 0.5s ease-in-out;
}
/* Section Five */
.grid-container{
    background-color: red;
    width: 60%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.grid-card:nth-child(1){
    grid-row: 1/4;
}
.grid-card{
    background-color: var(--light-peach);
}












/* Media Queries */
/*Section one */
@media only screen and (max-width: 500px){
    .image{
        display: none;
    }
    
    .navlinks{
     
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: var(--ligth-gray);
        /* display: flex; */
        flex-direction: column;
       justify-content: center;
       align-items: center;
       left: 100%;
       z-index: 2;
       gap: 2rem;
       transition: 1s ease-in-out;
        
    }
    .navlinks-active{
        left: 0;
    }
    .navlinks li a{
        margin-left: 0;
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .logo{
        z-index: 5;
    }
    .content h1{
        font-size: 4rem;
    }
    header{
        /* background-color: skyblue; */
        justify-content: flex-start;
    }

    /* Section two */
    .container-section-two img{
        display: none;
    }
    .section-two-heading{
        font-size: 2.9rem;
        font-weight: bold
    }
    .section-two-para{
        font-size: 1rem;
        max-width: 100%;
       
    }
    .section-two-pricing{
        font-size: 1.5rem;
    }
    .section-two-btn{
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
    }
    .inner-section{
        /* background-color: red; */
        width: 90%;
    }
    /* Section Four */
    .offer{
        font-size: 4rem;
    }
    .four-heading{
        font-size: 3rem;
    }
    .four-btn{
        font-size: 1rem;
    }
    
}
